body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #45474B;
  width: 100%;
  padding-top: 10px;
  border-bottom: white solid 1px;
  color: #F3EEEA;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 200px;
  font-family: "Roboto", sans-serif;
}

/* start infor_tmd*/
.infor_tmd {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #45474B;
  height: 30px;
  border-bottom: #7F8487 solid 1px;
  color: #F3EEEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 64px 0px 64px;
}

.contact_icons_tmd {
  margin-left: auto;
  display: flex;
  gap: 20px;

}

.infor_tmd svg {
  margin-right: 5px;
}

.infor_tmd a {
  margin-left: 10px;
  color: #F3EEEA;
  text-decoration: none;
}

.contact_icons_tmd>a:hover {
  color: #ac8c8c;
}

.logo_search_menu_tmd {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* end infor_tmd 8+*/
/* start cover-menu_tmd */
.cover-menu_tmd {
  width: 99vw;
  border-bottom: #7F8487 solid 1px;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.logo_TMD {
  width: 200px;
  height: 70px;
  padding-left: 65px;
}

.menu_tmd {
  display: flex;
  gap: 20px;
  padding-right: 65px;
}

.srch_tmd input[type="search"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 5px 0 0 5px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  width: 350px;

}

.srch_tmd input[type="submit"] {
  padding: 8px 12px;
  background-color: #B0926A;
  color: #fff;
  border: 1px solid #B0926A;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  right: 5px;
}

.srch_tmd input[type="search"]:focus {
  border-color: #ac8c8c;
}

.srch_tmd input[type="search"]::-webkit-search-cancel-button,
.srch_tmd input[type="search"]::-webkit-search-clear-button {
  display: none;
}

.srch_tmd input[type="submit"]:hover {
  background-color: #c7a576;
}

.menu_link_tmd {
  color: #fff;
}

.menu_tmd .menu_link_tmd:hover {
  color: #ac8c8c;
}

/* end cover-menu_tmd*/
/* start list_items_tmd*/
.list_items_tmd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul_tmd {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.ul_tmd li {
  padding: 10px;
  margin-right: 30px;
}

.ul_tmd li a {
  text-decoration: none;
  color: #f0f0f0;
}

.ul_tmd li a:hover {
  color: #ac8c8c;
  text-decoration: underline;
}

/* end list_items_tmd*/
/* start banner*/
.banner_tmd {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner_item1_tmd,
.banner_item2_tmd,
.banner_item3_tmd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-size: cover;
}

.banner1_tmd,
.banner2_tmd,
.banner3_tmd {
  width: 35%;
  font-size: 16px;
  color: #F1EAFF;
  text-align: center;
  padding: 20px;
  height: 225.141px;
}

.banner_item1_tmd {
  background-image: url(Img/Banner-lap-1.jpg);
  background-repeat: no-repeat;
}

.banner_item2_tmd {
  background-image: url(Img/Banner-lap-2.jpg);
  display: none;
  background-repeat: no-repeat;
}

.banner_item3_tmd {
  background-image: url(Img/Banner-lap-3.jpg);
  display: none;
  background-repeat: no-repeat;
}

.active {
  display: block;
  opacity: 1;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.arrow-btn.left {
  left: 10px;
}

.arrow-btn.right {
  right: 10px;
}

.banner_xh_tmd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.xuhuong_gm_tmd,
.xuhuong_vp_tmd {
  flex: 0 0 calc(50% - 1rem);
  box-sizing: border-box;
  margin: auto;
  overflow: hidden;
  width: 700px;
}

@keyframes slideFromCenter {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* end banner*/
/* start menu_sp_tmd*/
#menu_sp_tmd {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nut-sp-moi {
  background: none;
  border: none;
  cursor: pointer;
}

.nut-sp-moi:hover {
  color: #ac8c8c;
}

.money {
  color: brown;
}

.list_items_new_tmd {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: hidden;
  transition: transform 0.5s ease;
}

.list_item1_new_tmd {
  width: 280px;
  margin: 10px;
  border-radius: 1px;
  border: brown solid 1px;
  flex: 0 0 auto;
  transition: transform 0.3s ease-in-out;
}

.img_new_tmd {
  width: 280px;
  height: 325px;
}

.box-item {
  height: 190px;
  border-top: brown solid 1px;
  display: grid;
  align-items: center;
  text-align: center;
}

.img_new_tmd img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.them_gio_btn_tmd {
  background-color: #ac8c8c;
  width: 115px;
  height: 30px;
  border: none;
  text-align: center;
  color: #f0f0f0;
}

.them_gio_btn_tmd:hover {
  color: rgb(77, 23, 23);
  cursor: pointer;
}

.sp_tmd-btn {
  float: right;
  margin-right: 5px;
}

.scroll-btn {
  cursor: pointer;
}
.sp_tmd-btn {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: brown;
}
.phan_loai_tmd {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.co_dien_tmd,
.thoi_trang_tmd {
  width: 590px;
  height: 250px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.co_dien_tmd {
  background-image: url(Img/thanh_lich.jpg);
  color: #141111;
}

.thoi_trang_tmd {
  background-image: url(Img/Pha_cach.jpg);
  margin-left: 100px;
  color: #ecd6d6;
}
.list_items_new_tmd a {
  text-decoration: none;
  color: #1A120B;
}
.list_items_pb_tmd {
  display: flex;
  flex-wrap: wrap;
  transition: transform 0.5s ease;
  width: 110%;
  max-width: 1300px;
  align-items: center;
}

.list_sp_tmd {
  width: 220px;
  margin: 10px;
  border-radius: 1px;
  border: brown solid 1px;
  flex: 0 0 auto;
  transition: transform 0.3s ease-in-out;
}

.img_sp_tmd {
  width: 100%;
  height: 250px;
}

.img_sp_tmd img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list_items_pb_tmd a {
  text-decoration: none;
  color: #1A120B;
}

.list_items_km_tmd {
  display: none;
  flex-wrap: wrap;
  transition: transform 0.5s ease;
  width: 110%;
  max-width: 1300px;
  align-items: center;
}
.list_sp_tmd a {
  text-decoration: none;
  color: #1A120B;
}
.list_items_bc_tmd {
  display: none;
  flex-wrap: wrap;
  transition: transform 0.5s ease;
  width: 110%;
  max-width: 1300px;
  align-items: center;
}
/*end menu_sp_tmd*/
/*start News*/
.news {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ac8c8c;
  margin-top: 130px;
}
.box-text_tmd {
  width: 100%;
  max-width: 390px;
  font-size: 18px;
}
.son_news_tmd img {
  width: 100%;
}
.news a:hover {
  color: #B0926A;
}
.news a {
  text-decoration: none;
}
.son_news_tmd {
  width: 25%;
  margin-right: 15px;
  height: 520px;
}
/*end News*/
/*start information*/

.information {
  display: flex;
  align-items: center;
}
.dang_ky_tmd input[type="search"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #312020;
  border-radius: 5px 0 0 5px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  width: 350px;

}

.dang_ky_tmd input[type="submit"] {
  padding: 8px 12px;
  background-color: #B0926A;
  color: #fff;
  border: 1px solid #B0926A;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  right: 5px;
}

.dang_ky_tmd input[type="search"]:focus {
  border-color: #ac8c8c;
}

.dang_ky_tmd input[type="search"]::-webkit-search-cancel-button,
.dang_ky_tmd input[type="search"]::-webkit-search-clear-button {
  display: none;
}

.dang_ky_tmd input[type="submit"]:hover {
  background-color: #c7a576;
}
.dang_ky_tmd {
  margin-left: 400px;
}
/*end information*/
/*start footer*/
.footer {
  margin-top: 65px;
  background-color: #333;
  color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 390px;
  flex-wrap: wrap;


}
.ttlh_tmd h3,
.lien_ket_tmd h3,
.ho_tro_tmd h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.ttlh_tmd p {
    display: flex;
    align-items: center;
}
.ttlh_tmd,.lien_ket_tmd, .ho_tro_tmd  {
  margin: 100px;
}
.ttlh_tmd a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.ttlh_tmd svg {
    margin: 5px;
}
.lk_ul_tmd {
    list-style: none;
    padding: 0;
}

.lk_ul_tmd li {
    margin-bottom: 8px;
}

.lk_ul_tmd a {
    color: #fff;
    text-decoration: none;
}
.more_ttlh_tmd a {
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.more_ttlh_tmd svg {
    margin-right: 5px;
}
/*end footer*/
/*start ban_quyen_tmd*/
#ban_quyen_tmd {
  display: flex;
  background-color: #333;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: #45474B 1px solid;
}

.container_tmd {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto; /* Canh giữa .container_tmd */
}

.container_tmd p {
  margin-right: auto; /* Đẩy thẻ p về bên trái cùng */
}

.container_tmd img {
  max-height: 40px;
}

